<div tb-modal class="tb-modal play-video-modal">
    <h1 class="head">查看实时视频<i class="icon icon-popup-close" ng-if="isConnectDone" ng-click="cancel()" ></i></h1>
    <div class="video-modal-content" ng-class="{true: 'adaptive-images-container'}[rioDevice.deviceType=='ios']">
        <div ng-include="'apps/task/stf/device-control/templates/device-control.html'" class="fill-height"></div>
        <!--<div ng-show="rioDevice.deviceType == 'ios'&&ios_video_src" class="ios_video">-->
            <!--<img ng-src="{{ios_video_src}}">-->
        <!--</div>-->
    </div>
    <div class="modal-foot">
        <button class="btn btn-fix btn-default btn-long" ng-if="isConnectDone" ng-click="cancel()">关闭</button>
    </div>
</div>
