<div class="upload-container">
    <div class="widget-content">
        <div id="uploadContainer" class="upload-area" ng-show="!parse && !upload && !installation">
            <div id="pickfiles" class="upload-area drop-area btn-file">
                <i class="icon icon-upload drop-area-icon"></i>
                <div class="drop-area-text">点击或拖拽上传</div>
            </div>
        </div>
        <div ng-if="parse">
            <div ng-if="parse.state == 'parse_progress'" ng-click="reset()" class="parsing app-info text-center drop-area btn-file">
                <div class="loading" ng-if="!parse.errorMsg" tb-loading data-auto-start="true" data-disable-overlay="true"></div>
                <div class="error-helper text-center" ng-if="parse.errorMsg">{{parse.errorMsg}}</div>
            </div>
            <div ng-if="parse.state == 'parse_finish'" class="app-info text-center drop-area btn-file">
                <div>
                    <img ng-src="{{parse.iconBlobUrl}}" width="80">
                    <form>
                        <div class="form-group">
                            <label class="app-filename">{{ parse.fileName }}</label>
                            <input type="text" class="form-control" ng-model="parse.name">
                        </div>
                    </form>
                </div>
                <div>
                    <button class="btn btn-sm btn-blue" ng-click="startUpload()">确定</button>
                    <button class="btn btn-sm btn-gray" ng-click="cancelUpload()">取消</button>
                </div>
            </div>
        </div>
        <div ng-if="upload" class="drop-area file-input btn-file installtion-status selectable">
            <progressbar max="100" value="upload.progress" ng-if="!upload.settled" ng-class="{'active': !upload.settled}" class="progress-striped">
            </progressbar>
            <div ng-if="!upload.error" class="text-center">
                <span ng-switch="upload.state">
                        <strong ng-switch-when="uploading">
                            <span translate="translate">Uploading...</span>
                <span> ({{upload.progress}}%)</span>
                </strong>
                <strong ng-switch-when="processing">
                            <span translate="translate">Processing...</span>
                            <span> ({{upload.progress}}%)</span>
                        </strong>
                <strong ng-switch-when="pushing_app">
                            <span translate="translate">Pushing app...</span>
                            <span> ({{upload.progress}}%)</span>
                        </strong>
                <strong ng-switch-when="uploaded" class="install-done" ng-click="clear()">
                            <div><i class="icon icon-done" /></div>
                            <div class="package-info"><i class="icon icon-package"/>{{upload.manifest.package || "App" }}</div>
                        </strong>
                </span>
            </div>
            <alert type="danger" close="reset()" ng-if="upload.error">
                <strong translate="translate">提示:</strong> &#x20;
                <span>{{ upload.error | uploadError | translate }}</span>
            </alert>
            <div class="text-center">
                <button class="btn btn-long btn-blue cancel-upload" ng-if="!dummyProgress" ng-click="cancelUpload()">取消上传</button>
            </div>
        </div>
        <div ng-if="installation && !upload" ng-click="reset()"class="drop-area file-input btn-file">
            <div ng-switch="installation.state">
                <span ng-switch-when='installing'>正在安装app文件...</span>
                <span ng-switch-when='error'>{{ installation.error | installError}}</span>
            </div>
        </div>
    </div>
</div>
<div class="files-container">
    <div apk-files install-available="true"></div>
</div>
