<div class="panel-body">
    <h3>设备控制台</h3>
    <div class="panel-left">
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-home"></i>
          </div>
          <div class="description-container">
              <div>Android标准键</div>
              <div>Home</div>
          </div>
      </div>
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-back"></i>
          </div>
          <div class="description-container">
            <div>Android标准键</div>
            <div>返回</div>
          </div>
      </div>
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-list"></i>
          </div>
          <div class="description-container">
            <div>Android标准键</div>
            <div>菜单</div>
          </div>
      </div>
    </div>
    <div class="panel-right">
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-unlock"></i>
          </div>
          <div class="description-container">
            当屏幕锁定并变黑时，您可以通过此按钮解锁。
          </div>
      </div>
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-photocam-gray"></i>
          </div>
          <div class="description-container">
            截屏/连续截屏，可以定时自动截取指定数量图片。
          </div>
      </div>
      <div class="panel-row">
          <div class="icon-container">
              <i class="icon icon-hd"></i>
          </div>
          <div class="description-container">
            可调节流畅度和图片清晰度，流畅度越高，清晰度越低，反之亦然。
          </div>
      </div>
    </div>
</div>