<div class="panel-body">
    <h3>操作信息工作条</h3>
    <div class="panel-row">
        <div class="icon-container">
            <i class="upload-icon"></i>
        </div>
        <div class="description-container">
            上传安装包，同时会自动保存您最近上传的3个安装包。
        </div>
    </div>
    <div class="panel-row">
        <div class="icon-container">
            <i class="photo-icon"></i>
        </div>
        <div class="description-container">
            图片库，通过截屏保存的图片会存放在这里。
        </div>
    </div>
    <div class="panel-row">
        <div class="icon-container">
            <i class="logs-icon"></i>
        </div>
        <div class="description-container">
            日志，您可以在这里看到所有的操作日志。
        </div>
    </div>
    <div class="panel-row">
        <div class="icon-container">
            <i class="shell-icon"></i>
        </div>
        <div class="description-container">
            命令行，您可以在这里输入控制命令。
        </div>
    </div>
    <div class="panel-row">
        <div class="icon-container">
            <i class="info-icon"></i>
        </div>
        <div class="description-container">
            关于此台设备的所有信息，可以在这里查看。
        </div>
    </div>
</div>