<div class="releases-wrap">
    <h2 class="text-right">
        <a href="" class="btn btn-sm btn-primary" tb-app-upload data-app="app" data-file-upload="onFileUploaded(data)">
            <i class="icon icon-upload-new"></i>上传新版本
        </a>
    </h2>
    <ul>
        <li ng-repeat="release in releases">
            <span class="list-style">●</span>
            <h3>
                <a ng-href="{{ release.download_url }}">{{release.version}}</a>
                <small ng-if="release.espresso_apk_url">已签名</small>
                <small>release_id: {{ release.id }}</small>
                <small>build: {{ release.build }}</small>
                <a class="icon delete" href="" ng-click="deleteRelease(release.key)"></a>
            </h3>
            <p>{{release.created | dateFilter}}</p>
            <div class="desc" tb-edit-release data-release="release">
                <pre contenteditable="true" spellcheck="false"></pre>
                <a class='sumbit'><i class='fa fa-check'></i></a>
                <a class='cancel'><i class='fa fa-times'></i></a>
            </div>
        </li>
    </ul>
    <div class="signing-overlay" ng-if="isSigning">
        <div class="tips"><span class="loading" tb-loading data-disable-overlay="true"></span>app重签名中,请等待...</div>
    </div>
</div>
