*.pyc
*.log
*.log.*
*.swp
*.bak
*.db
*.xml
*~
.DS_Store
.coverage
.idea/
.htmlhintrc
.vscode/
docs/_build
.gitigonre
db.sqlite3
site_media/
media/contents
media/execution_performances
media/images/ocr-test.jpg
media/*.*
media/apk_upload_temp
assets/
htmlcov/
reports/
src/logs
/src/settings/personal.py
/src/*.db
default.db
src/default.db
/logs/

/src/**/node_modules/
/src/**/vendor/
/src/apps/rio_manager/jwttest.py
!/src/static/**/src/assets/

.virtualenv
.env
.reviewboardrc
.sass-cache/

src/static/**/dist/
src/static/**/.tmp/
/start_*
