
$blue:#0070f0;
$blue-light:#f1f7fe;
$blue-lighter:#fafcff;
$blue-dark:darken($blue, 10%);
$blue-darker:darken($blue, 20%);
$blue-bg:#f4f7fb;
$blue-link:#337ab7;
$blue-hover:#23527c;
$selected-bg: #c1dcff;

$gray:#8792a3;
$gray-dark:darken($gray, 10%);
$gray-light:#d1d9e0;
$gray-lighter:#ebeff5;
$gray-border:#d1d9e0;
$gray-hover: #ebf2fc;
$gray-title-bg: #ebf2fc;

$green:#27a907;
$green-dark:darken($green, 10%);

$red:#f6444d;
$red-dark:darken($red, 10%);
$red-light:#feeced;

$black:#191e25;

$orange:#ff7e00;
$orange-dark:darken($orange, 10%);
$orange-lighter:lighten($orange, 40%);

$border-gray: #d1d9e0;
$text-gray: #8792a3;
$gray: #8e9194;
$grayDarkBorder: #c1c9d6;
$grayDarkBg: #eff3f7;
$gray-border:#d1d9e0;

$imageTimeStamp: 0;

/*$blue:#0070f0;
$blue-light:#f1f7fe;
$blue-bg:#fafcff;
$blueLightBg:#fafcff;
$skyBlue:#add1fa;
$skyBlueLight:#c9d7e4;

$gray:#8792a3;
$grayLight:#f4f7fb;
$gray-border:#edf2f7;
$grayBtnBorder:#edf2f7;
$grayLightBorder:#ebeff5;
$grayDarkBorder:#c1c9d6;
$grayBtnBorder:#edf2f7;
$grayLightBorder:#ebeff5;
$grayDarkBorder:#c1c9d6;
$green:#27a907;
$greenBorder:#95d585;
$greenBg:#e7f5e3;
$greenColor:#27a822;

$popoverBg:#fff3e7;
$popoverBorder:#ffaa57;
$popoverTextColor:#ff7e00;

$headBgColor:#191e25;*/
