.charts {
    height: 100%;
    overflow-y: auto;
}
.charts-head {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: $blue-bg-light;
    border-bottom: 1px solid $gray-border;
    h3 {
        float: left;
        line-height: 50px;
        display: inline-block;
        margin: 0 0 0 15px;
        font-size: 20px;
    }
    .head-form {
        float: right;
        margin-top: 8px;
        label {
            margin-left: 20px;
        }
        .form-group {
            margin-left: 20px;
            select {
                width: 140px;
                height: 34px;
            }
        }
        .date-pick {
            position: relative;
            width: 180px;
            input {
                width: 140px;
            }
            .form-group-btn {
                position: absolute;
                top: 0px;
                right: 0;
            }
        }
    }
}
.charts-container {
    width: 1150px;
    padding: 30px;
    h4 {
        border-left: 6px solid $blue;
    }
    .table-container {
        width: 100%;
        height: auto;
        margin-bottom: 40px;
        overflow-y: hidden;
        table tbody tr {
            height: 50px;
        }
    }
    .head-container {
        width: 100%;
        height: 40px;
        h4 {
            float: left;
        }
    }
    .search-form {
        float: right;
        margin-top: 5px;
        .form-group {
            margin-left: 20px;
        }
    }
    .chart-container {
        width: 100%;
        height: 300px;
        margin-bottom: 40px;
    }
    .chart-left-container {
        float: left;
        width: 575px;
        height: 340px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .chart-right-container {
        float: left;
        width: 575px;
        height: 340px;
        margin-bottom: 20px;
    }
    .chart-title {
        width: 100%;
        height: 40px;
    }
    .chart-float {
        width: 100%;
        height: 300px;
    }
}